body {
    background-image: url('images/kurp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

button {
    background: none;
    border: none;
    z-index: 2;
}

.right-nav-bar {
    display: flex;
    position: fixed;
    right: 1%;
    top: 50%; /*Moves it down*/
    transform: translateY(-50%); /*Moves it up to be centered*/
    width: 100px;
    height: auto;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    z-index: 1000;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding: 40px 12px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        text-align: center;
    }

    a:hover {
        background-color: darkgray;
    }
}

.info-display {
    display: flex;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    flex-direction: column;
    background-color: rgba(221, 221, 221, .40);
    height: 100%;
    width: 100%;
    text-align: center;

    h1 {
        text-align: center;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 8px;
        justify-content: center;
    }

    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    a:hover {
        color: white;
    }
}

.info-display.active {
    opacity: 1;
    transform: translateX(0);
}

.info-display.hidden {
        opacity: 0;
        transform: translateX(100%);
    }

.scene {
    display: flex;
    position: relative;
    height: 80vh;        /* Slightly taller than the nav bar */
    width: 50%;
    align-items: center;
    margin: 0 auto;
    margin-top: 10vh;    /* Centers it vertically with equal space above and below */
    border-radius: 5px;
    overflow: hidden;
}

.right-arrow {
    display: flex;
    position: fixed;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    border-left: 50px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    cursor: pointer;
    clip-path: polygon(
        0% 0%,   /* top point */
        100% 50%, /* right point */
        0% 100%, /* bottom point */
        0% 50%    /* left point */
    )
}

.right-arrow:hover {
    border-left-color: darkgray;
}

.left-arrow {
    display: flex;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    border-right: 50px solid black;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    cursor: pointer;
    clip-path: polygon(
        100% 0%,   /* top point */
        100% 50%, /* right point */
        100% 100%, /* bottom point */
        0% 50%    /* left point */
    )
}

.left-arrow:hover {
    border-right-color: darkgray;
}